
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import  url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
html{
    width: 100vw;
    width: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}
.conteudo{
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(34, 33, 33);
    position: fixed;
    padding-left: 30rem;
}
.logo{
    color: aliceblue;
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
    height: 100%;
}
.conteudo .list-menu{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.conteudo .list-menu li a{
    padding: 3rem 1rem 2rem 1rem;
    color: rgb(245, 12, 12);
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}
.conteudo .list-menu li a:hover{
    background-color:#fafafa;
    border-bottom: 4px solid ;
    color: rgb(2, 2, 2);
}
.pagina1{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(14, 12, 12, 0.8), rgba(37, 37, 37, 0.8)) ,url(imagens/yakssoba.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagina1 .conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pagina1 h1{
    color: rgb(226, 34, 34);
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: 'Indie Flower', cursiva ;
}
.pagina1 h2{
    color: aliceblue;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: 'Indie Flower', cursiva ;
}
.btn button{
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 12px;
    font-weight: 500;
    margin-top: 5rem;
    transition: all 400ms;
}
.btn button:hover{
    border: 1px solid ;
    background-color: transparent;
    color: red ;
}
.btn{
    width: 450px;
    display: flex;
    justify-content: space-between;
}

footer{
 text-align: center;
 font-size: 2rem;
 font-weight: bolder;
 color: red;
}

.pagina2{
    width: 100vw;
    height: 40vh;
    background-color: rgba(68, 66, 66, 0.719);
}

.pagina2 h1{
    color: red;
    text-align: center;
    font-size: 4rem;
    font-family: 'Indie Flower', cursiva;
}
.pagina2 p{
    color: aliceblue;
    font-size: 1.7rem;
}
.pagina3{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(14, 12, 12, 0.8), rgba(37, 37, 37, 0.8)) ,url(imagens/comida.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
.pagina3 h1{
    color: rgb(248, 3, 3);
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursiva;
}
.itens-cardapio{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto fixed,minmax(250px, 550px));
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 2rem;
}
.itens-cardapio .info{
    background-color: aliceblue;
    display: flex;
    border: none;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    padding: 1.3rem;
}
.itens-cardapio .info h3{
    font-size: 1.7rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}
.itens-cardapio .info h4{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
}
.itens-cardapio img{
    width: 100%;
    height: 200px;
}
